<div>
  <h4>Konfiguracja SMTP</h4>
  <p>Pozwala na wysyłanie wiadomości email do Twoich klientów.</p>
  <p>
    Nie musisz konfigurować tych ustawień, oprogramwanie posiada
    już skonfigurowane ustawienia, tak aby klieci mogli odbierać wiadomości.
  </p>
  <p>
    Każda wiadomość wysłana z tego serwisu jest podpisywana Twoją nazwą firmy. Jeśli klient będzie chciał odpowiedzieć
    na Twojego maila, zostanie on przekierownany na email, który był podczas rejestracji.
  </p>
  <p>
    Jeżeli chcesz skonfigurować te ustawienia, dowiedz się kto jest Twoim dostawcą usług pocztowych
    i jakiej konfiguracji należy użyć, aby zintegrować się z pocztą. W przypadku gdy podany przez
    Ciebie port nie będzie działał zostanie ustawiony domyślny port 587, jeśli na nim pojawi się błąd
    program wyświetli komunikat o nie udanej próbie konfiguracji. Niektóre serwisy taki jak Gmail, Yahoo
    wymagają aby włączyć w ustawieniach dostęp do poczty dla mniej bezpiecznych aplikacji.
    Poniżej podano adresy do konfiguracji do kilku popularnych serwisów pocztowych:
  </p>
  <ul style="list-style:lower-alpha;">
    <li><a target="_blank" href="https://support.google.com/a/answer/176600?hl=pl">Gmail</a></li>
    <li><a target="_blank" href="https://help.yahoo.com/kb/SLN4075.html">Yahoo</a></li>
    <li>
      <a target="_blank" href="https://support.office.com/en-us/article/pop-imap-and-smtp-settings-for-outlook-com-d088b986-291d-42b8-9564-9c414e2aa040?ui=en-US&rs=en-US&ad=US">
        Microsoft Outlook
      </a>
    </li>
    <li><a target="_blank" href="https://pomoc.home.pl/baza-wiedzy/jak-skonfigurowac-program-do-obslugi-poczty-e-mail">Home</a></li>
    <li><a target="_blank" href="https://pomoc.wp.pl/jak-skonfigurowac-program-pocztowy">Wirtualna Polska / O2</a></li>
    <li><a target="_blank" href="http://m.poczta.onet.pl/pomoc/servers.html" >Onet</a></li>
  </ul>
  <p>Jeżeli chcesz aby system spróbował automatycznie skonfigurować ustawienia SMTP przejdź do Autokonfiguracji.</p>
  <p>Zostaniesz poniformowany jakie ustawienia zostały wprowadzone</p>
  <br>
  <hr>
</div>